@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
.animate-fade {
  animation: fadeInOut 4s ease-in-out;
}
